
<div id="header" class="navbar">
    <div class="navbar-inner">
        <!-- company or app name -->
        <a class="brand hidden-phone" href="index.html">Data Logger</a>
        
        <ul class="nav pull-right">
            
            <!-- dropdown user account -->
            <li class="dropdown">
                <a id="account-settings" href="" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-large icon-user"></i>
                </a>
                
                <ul class="dropdown-menu dropdown-user-account">
                
<!--                     <li class="account-img-container"> -->
<!--                         <img class="thumb account-img" src="images/heart.jpg" /> -->
<!--                     </li> -->
                    
                    <li class="account-info">
                        <h3>Jow Bloggs</h3>
                        <p>
                            <a href="">Edit</a> | <a href="">Account Settings</a>
                        </p>
                    </li>
                    
                    <li class="account-footer">
                        <div class="row-fluid">
                        
                            <div class="span8">
                                <a class="btn btn-small btn-primary btn-flat" href="#">Change avatar</a>
                            </div>
                           
                            
                        </div>                                  
                    </li>
                    
                </ul>
            </li>
            <!-- ./ dropdown user account -->
        </ul>
    </div>
</div>
