
 <ul id="sidebar" class="nav nav-pills nav-stacked" ng-controller="SidebarCtrl">
     <li class="avatar hidden-phone">
         <a href="#">
             <img src="images/heart.png" />
             <span>{{principal.displayName}}</span>
         </a>
     </li>
     <li ng-class="{active: isActive('/dashboard')}">
         <a id="dashboard" href="">
             <i class="micon-screen"></i>
             <span class="hidden-phone">Dashboard</span>
         </a>
     </li>
     <li ng-class="{active: isActive('/devices')}">
         <a id="devices" href="#/devices">
             <i class="micon-newspaper"></i>
             <span class="hidden-phone">Records</span>
         </a>
     </li>
     <li ng-class="{active: isActive('/notifications')}">
         <a href="">
             <i class="micon-flag"></i>
             <span class="hidden-phone">Notifications</span>
         </a>
     </li>
      
     <li ng-class="{active: isActive('/settings')}">
         <a href="">
             <i class="micon-cog"></i>
             <span class="hidden-phone">Settings</span>
         </a>
     </li>               
 </ul>
