

<ng-include src="'views/template/header-authenticated.html'"></ng-include>

<div id="left_layout">
	<!-- main content -->
	<div id="main_content" class="container-fluid">

		<!-- page heading -->
		<div class="page-heading">

			<h2 class="page-title muted" id="page-title">
				<i class="icon-dashboard"></i> Dashboard
			</h2>
		</div>
		<!-- ./ page heading -->

		<ul class="breadcrumb breadcrumb-main">
			<li><a href="#/dashboard">Home</a> <span class="divider"><i
					class="icon-caret-right"></i></span></li>
			<li class="text-info">Dashboard</li>
		</ul>

		<!-- post wrapper -->
		<div class="row-fluid" ng-controller="ChartController">
			<div class="span6">
				<div class="well widget">
					<div class="widget-header">
						<h3 class="title">Heart Rate Over last 24 hours</h3>
					</div>


				</div>

			</div>
			<div class="span3">
				<div class="well widget">
					<div class="widget-header">
						<h3 class="title">Current Heart Rate</h3>
					</div>
					<h1>67</h1>
				</div>

				<div class="well widget">
					<div class="widget-header">
						<h3 class="title">Maximum Heart Rate</h3>
					</div>
					<!-- ** vertical bar chart ** -->
					<h1>105</h1>
					<!-- ** ./ vertical bar chart ** -->
				</div>

			</div>
		</div>
		<!-- ./ post wrapper -->
	</div>
	<!-- end main content -->

	<ng-include src="'views/template/sidebar-authenticated.html'"></ng-include>
</div>
