
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<header>
    <nav class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-blackbg">
        <a href="#" class="pure-menu-heading">VSWare</a>
        <ul>
            <li class="pure-menu-selected"><a href="#">Dashboard</a></li>
            <li><a href="#">Other</a></li>
            <li><a href="#">Possible</a></li>
            <li><a href="#">Use</a></li>
        </ul>
    </nav>
</header>
<section class="dashboard pure-g-r clearfix">
    <div class="pure-u-1 dashboard-piece dashboard-piece-bluebg" ng-controller="ChartController">
        <div class="dashboard-content">
            <h3>Example Line Chart</i></h3>
        <nvd3-line-chart data="exampleLinechart" id="exampleLinechart" showXAxis="true"
                         showYAxis="true" height="400" tooltips="true"
                         interactive="true"
                         margin="{left:40,top:10,bottom:20,right:40}"
                         xAxisTickFormat="xAxisTickFormat()"
                         yAxisLabel="{{test[0].yAxisLabel}}"
                         xAxisLabel="{{test[0].xAxisLabel}}" />
            </div>
    </div>

</section>

<section class="dashboard pure-g-r clearfix">
    <div class="pure-u-1-3 dashboard-piece dashboard-piece-orangebg" ng-controller="ChartController">


            <h2><i class="fontawesome-user"></i></h2>
            <p class="dashboard-metric">Active Users<span class="light"><i class="fontawesome-angle-up"></i>546</span></p>
    </div>
    <div class="pure-u-1-3 dashboard-piece dashboard-piece-yellowbg" ng-controller="ChartController">


                <h2><i class="fontawesome-phone"></i></h2>
                <p class="dashboard-metric">Phone Calls Today <span class="light">546</span></p>
    </div>
    <div class="pure-u-1-3 dashboard-piece dashboard-piece-orangebg" ng-controller="ChartController">


                <h2>ExamplePie Chart</h2>
        <nvd3-pie-chart
                data="examplePieChartData"
                id="examplePieChart"
                showLabels="true"
                x="xFunctionPie()"
                y="yFunctionPie()"
                donut="true"
                margin="{left:0,top:0,bottom:0,right:0}"
                donutRatio=".5"
                donutLabelsOutside="true">
        </nvd3-pie-chart>
    </div>

</section>
<section class="dashboard pure-g-r clearfix">

    <div class="pure-u-1 dashboard-piece dashboard-piece-greenbg" ng-controller="ChartController">
        <div class="dashboard-content">
            <h3>Example Scatter Chart</i></h3>
            <nvd3-scatter-chart
                    data="exampleData"
                    id="exampleId" height="400"
                    margin="{left:40,top:10,bottom:20,right:40}"
                    tooltips="true"
                    tooltipContent="tooltipXContentFunction()"
                    interactive="true"
                    />
        </div>
    </div>
</section>
<footer>
   VSWare Dashboard
</footer>










<!--<div class="pure-u-1-3 dashboard-piece dashboard-piece-redbg">-->
    <!--<div class="dashboard-content">-->
        <!--<h2><i class="fontawesome-user"></i></h2>-->
        <!--<p class="dashboard-metric">Active Users<span class="light"><i class="fontawesome-angle-up"></i>546</span></p>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="pure-u-1-3 dashboard-piece dashboard-piece-orangebg">-->
    <!--<div class="dashboard-content">-->
        <!--<h2><i class="fontawesome-github"></i></h2>-->
        <!--<p class="dashboard-metric">-->
            <!--142 Commits-->
        <!--<div class="light bar-horizontal">-->
            <!--<div class="bar-horizontal-bar" style="width:57%">-->
                <!--57% Capacity-->
            <!--</div>-->
        <!--</div>-->
        <!--</p>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="pure-u-1-3 dashboard-piece dashboard-piece-yellowbg">-->
    <!--<div class="dashboard-content">-->
        <!--<p class="dashboard-metric">-->
        <!--<h2><i class="fontawesome-check"></i></h2>-->
        <!--<div class="dashboard-metric">-->
            <!--<strong>63 / 90</strong><br><small>Tasks Complete</small>-->
        <!--</div>-->
        <!--</p>-->
    <!--</div>-->
    <!--<div class="bar-vertical" style="height:70%;"></div>-->
<!--</div>-->

