<div ng-controller="ChartController">
<section id="photos">

    <nvd3-line-chart data="exampleLinechart" id="exampleLinechart" showXAxis="true"
                     showYAxis="true" height="400" tooltips="true"
                     interactive="true"
                     margin="{left:40,top:10,bottom:20,right:40}"
                     xAxisTickFormat="xAxisTickFormat()"
                     yAxisLabel="{{test[0].yAxisLabel}}"
                     xAxisLabel="{{test[0].xAxisLabel}}" />
    <nvd3-line-chart data="exampleLinechart2" id="exampleLinechart" showXAxis="true"
                     showYAxis="true" height="400" tooltips="true"
                     interactive="true"
                     margin="{left:40,top:10,bottom:20,right:40}"
                     xAxisTickFormat="xAxisTickFormat()"
                     yAxisLabel="{{test[0].yAxisLabel}}"
                     xAxisLabel="{{test[0].xAxisLabel}}" />


</section>
</div>