<ng-include src="'views/template/header-authenticated.html'"></ng-include>

<div id="left_layout">
    <div id="main_content" class="container-fluid">

        <!-- page heading wrapper -->
        <div class="page-heading">
            <h2 class="page-title muted" id="page-title">
                <i class="icon-folder-open"></i> Devices
            </h2>
        </div>
        <!-- ./ page heading wrapper -->

        <!-- breadcrumb -->
        <ul class="breadcrumb breadcrumb-main">
            <li><a href="#/dashboard">Home</a> <span class="divider"><i
                    class="icon-caret-right"></i></span></li>
            <li class="text-info">Devices</li>
        </ul>
        <!-- ./ breadcrumb -->

        <div ng-controller="ChartController">
            <div class="span12">
                <div class="well widget">
                    <div class="widget-header">
                        <h3 class="title">Example Line Chart</h3>
                    </div>


                    <nvd3-line-chart data="exampleLinechart" id="exampleLinechart" showXAxis="true"
                                     showYAxis="true" width="800" height="400" tooltips="true"
                                     interactive="true" xAxisTickFormat="xAxisTickFormat()"
                                     margin="{left:100,top:20,bottom:20,right:10}"
                                     yAxisLabel="{{test[0].yAxisLabel}}"
                                     xAxisLabel="{{test[0].xAxisLabel}}"></nvd3-line-chart>
                </div>
            </div>
        </div>

        <div ng-controller="ChartController">
            <div class="span12">
                <nvd3-scatter-chart
                        data="exampleData"
                        id="exampleId"
                        width="700"
                        height="400"
                        tooltips="true"
                        tooltipContent="tooltipXContentFunction()"
                        interactive="true"
                        >
                    <svg></svg>
                </nvd3-scatter-chart>
            </div>
        </div>
        <div class="row-fluid"></div>
    </div>

    <ng-include src="'views/template/sidebar-authenticated.html'"></ng-include>
</div>
